.cursor-container {
}

.cursor {
  position: absolute;
  border-radius: 5px;
  width: 5px;
  height: 5px;
  margin-top: -4px;
  margin-left: -4px;
  top: 0;
  left: 0;
  border: 2px solid #fff;
  background-color: #05bdeb;
}
