html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
}

.app-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.app-debug {
  position: fixed;
  bottom: 20px;
  left: 20px;
  font-size: 10px;
}

.app-debug pre {
  text-align: left;
}

.viewport-container {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  -moz-user-select: none;
  -webkit-user-select: none;
}
