html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
}

.app-container {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.app-debug {
  position: relative;
  background: #333;
  color: #fff;
  padding: 8px;
  font-size: 12px;
  overflow: scroll;
  width: 20px;
  flex-basis: 20px;
  flex-shrink: 0;
  z-index: 1;
}

.app-debug:not(.expanded) > *:not(.app-debug-toggle) {
  opacity: 0;
}

.app-debug.expanded {
  min-width: 300px;
  width: 20%;
  flex-basis: 20%;
}

.app-debug.expanded .app-debug-toggle {
  opacity: 0;
}

.app-debug-toggle {
  color: #fff;
  background: transparent;
  border: none;
  font-size: 28px;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  padding: 0;
}

.app-debug pre {
  text-align: left;
  margin: 0;
}

.viewport-container {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  -moz-user-select: none;
  -webkit-user-select: none;
}
