.canvas {
  display: flex;
  flex-grow: 1;
  position: relative;
  z-index: 1;
}

.debug-offset {
  position: absolute;
  border: 1px solid red;
}

.canvas.tool-pan {
  cursor: grab;
}

.canvas.tool-move.has-selection {
  cursor: move;
}
